h1 {
font-family: Forte;
font-size: 70px;
color: #7C5295;
text-align: center;
padding-left: 30px;
border: 3px solid none;
padding: 25px;
margin: 80px 50px 30px;
background-color: #FFEEFF; }

body{ 
margin: 0;
font-family: Arial;
font-size: 20px;
color: #7C5295;
background-color: #BCA0DE;
}
/* body and header styles */

#links {
padding: 30px;
font-size: 20px;
border: 10px solid #AC74E1;
background-color: #FFEEFF;
margin: 80px 100px 70px}
/* styles on links to other issues above */

#conccamp {
float: right}
/* second picture style */

.desc {
margin: 30px;
padding: 25px 30px 20px;
text-align: justify;
border: 10px solid #AC74E1;
background-color: #FFEEFF}
/* main text styles above */

.pix {width: 650px;
height: 400px; 
margin: 2px 20px 20px; 
padding: 20px; 
border: 10px dashed #FFEFFF}
/* picture styles above */

nav {
z-index: 1;
font-family: Arial;
font-weight: bold;
background-color: #7C5295;
overflow: hidden;
position: fixed;
top: 0;
width: 100%}

nav a {
color: #FFEFFF;
font-size: 20px;
text-decoration: none;	
float: left;
display: block;
text-align: center;
padding: 14px 16px;}
/* navigation bar styles above */

a:hover {
background-color: #967bb6;
color: #FFEFFF}
a:active {
background-color: #AC74E1;
color: #FFEEFF;
transform: rotate(20deg);}
/* all link styles above */

#pic {text-align: center;
font-size: 15px;
font-style: italic;
color: #FFEEFF}
/* 8 pic reference style */

.ref {
padding: 15px 30px 15px;
font-size: 15px;
border: 10px solid #AC74E1;
background-color: #FFEEFF;
margin: 80px auto 70px;
text-align: left;
width: 50% }

#reftitle {
font-style: italic;}
/* all refernece styles above */

#second {
float: left;
padding: 20px;
margin: 30px;
font-size: 20px;
border: 5px dashed #AC74E1;
background-color: #FFEEFF;
}

#second a {
text-decoration: none;
text-transform: uppercase;
font-family: Agency FB;
padding:5px }
/* button to next page style */

#contact {
text-align: right;
margin-right: 2.2em;
color: #FFEEFF;
font-weight: bold}
/* contact info styles above */

.twt {
	float: right;
	background: url('../images/icon.png') no-repeat -139px -102px;
	width: 47px;
	height: 44px;}
.fb {
	float: right;
	background: url('../images/icon.png') no-repeat -85px -102px;
	width: 46px;
	height: 44px;}
.ig { 
	margin-right: 30px;
	float: right;
	background: url('../images/icon.png') no-repeat -299px -102px;
	width: 44px;
	height: 44px;}
.twt:hover { 
	float: right;
	background: url('../images/icon.png') no-repeat -139px -174px;
	width: 44px;
	height: 44px;}
.fb:hover { 
	float: right;
	background: url('../images/icon.png') no-repeat -87px -174px;
	width: 44px;
	height: 44px;}
.ig:hover { 
	float: right;
	background: url('../images/icon.png') no-repeat -299px -174px;
	width: 44px;
	height: 44px}
 /* icons on contact info styles above */